@import "tailwindcss";
@plugin "daisyui" {
  themes:
    winter --default;
};

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility focus-bg {
  @apply focus:outline-none focus:tracking-wider focus:font-bold focus:underline;
}

@utility focus-primary {
  @apply focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:border-none;
}

/* @theme {
  --color-new-primary: theme(colors.blue.200);
} */